<div class="hero-head">
  <nav class="navbar">
    <div class="container">
      <div id="navbarMenuHeroA" class="navbar-menu">
        <div class="navbar-end">
          <span class="navbar-item">
            <a class="button is-inverted" href="dashboard">
              <span class="icon">
                <i class="fas fa-home"></i>
              </span>
              <span>Dashboard</span>
            </a>
          </span>
          <span class="navbar-item">
            <a class="button is-inverted" href="dashboard">
              <span class="icon">
                <i class="fas fa-sign-out-alt"></i>
              </span>
              <span>Logout</span>
            </a>
          </span>
        </div>
      </div>
    </div>
  </nav>
</div>
