<section class="section">
  <div class="container is-fluid">
    <h1 class="title is-1 has-text-centered">
      Plans
    </h1>
    <div class="columns">
      <div class="column">
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p class="title is-2">Basic</p>
                <p class="subtitle is-4">Employee</p>
                <p>
                  <strong>Free</strong>
                  <br>
                  User can only view jobs and cannot apply.
                  <br>
                  Not available for Employer account type.
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p class="title is-2">Prime</p>
                <p class="subtitle is-4">Employee</p>
                <p>
                  <strong>$10/month</strong>
                  <br>
                  User can view jobs and apply up to 5 jobs.
                  <br>
                </p>
                <p class="subtitle is-4">Employer</p>
                <p>
                  <strong>$50/month</strong>
                  <br>
                  Employer can post up to five jobs.
                  <br>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
      <div class="column">
        <div class="box">
          <article class="media">
            <div class="media-content">
              <div class="content">
                <p class="title is-2">Gold</p>
                <p class="subtitle is-4">Employee</p>
                <p>
                  <strong>$20/month</strong>
                  <br>
                  User can view jobs and apply to as many as you want.
                  <br>
                </p>
                <p class="subtitle is-4">Employer</p>
                <p>
                  <strong>$100/month</strong>
                  <br>
                  Employer can post as many jobs as they want.
                  <br>
                </p>
              </div>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
